@mixin itemMenu {
  text-decoration: none;
  font-family: $headingFont;
  font-size: 0.7rem;
  font-weight: 700;
  color: $mainColorLight;
  text-transform: uppercase;

}

@mixin hamMenuItems {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 0.8rem;
  border-bottom: 0.2rem solid $mainColorLight;

  @media (max-width: 768px) {
    width: 0;
    height: 0;
    visibility: hidden;
    border: none;
  }
}


  .Menu__container {
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    background: linear-gradient(to bottom, $mainColorDarkOpacity, $mainColorLightOpacity);
    box-shadow: 0 0 0.2rem 0 $mainColorLight;
    z-index: 10;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 50vh;
      position: relative;
    }


    &:hover {
      .Menu__left,
      .Menu__right {
        transition: 0.3s ease-in;
        visibility: visible;
      }

      .Menu {

        &__hamburger {
          &::after {
            width: 0.5rem;
            transition: 0.5s ease-in;

            @media (max-width: 768px) {
              visibility: hidden;
            }
          }

          &::before {
            width: 1rem;
            transition: 0.5s ease-in;

            @media (max-width: 768px) {
              visibility: hidden;
            }

          }
        }
      }
    }

    li:first-of-type,
    li:nth-of-type(2),
    li:nth-of-type(3),
    li:nth-of-type(4),
    li:nth-of-type(5) {
      &:hover {
        padding-top: 1.5rem;
        padding-bottom: 1.4rem;
        border-top: 0.25rem solid $contrastColor;

        @media (max-width: 768px) {
          border: none;
          padding: 0;
          transform: scale(1.2);
          color: $contrastColor;
        }
      }
    }
  }

  .Menu {
    &__hamburger {
      width: 1.5rem;
      height: 0.8rem;
      border-top: 0.2rem solid $mainColorLight;
      position: relative;
      margin: 1.25rem 0 0 1rem;

      &::after {
        @include hamMenuItems;
        top: 10%;
      }

      &::before {
        @include hamMenuItems;
        top: -65%;
      }

      @media (max-width: 768px) {
        visibility: hidden;
      }
    }

    &__left {
      flex-basis: 33%;
      visibility: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media (max-width: 768px) {
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      &__item {
        @include itemMenu;
        height: 4rem;
        letter-spacing: 0.1rem;
        text-align: center;
        margin: 0.75rem 0 0.75rem 0.75rem;
      }

      @media (max-width: 786px) {
        margin: 0;
        padding: 2rem;
      }
    }

    &__right {
      flex-basis: 33%;
      visibility: hidden;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      letter-spacing: 0.1rem;
      margin-right: 1rem;

      @media (max-width: 768px){
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      &__item {
        @include itemMenu;
        margin: 0.75rem;
      }

      li:first-of-type {
        &:hover {
          padding-top: 1.5rem;
          padding-bottom: 1.4rem;
          border-top: 0.25rem solid $contrastColor;

          @media (max-width: 768px) {
            border: none;
            padding: 0;
            transform: scale(1.2);
            color: $contrastColor;
          }
        }
      }

      li:last-of-type {
        color: $contrastColor;

        @media (max-width: 768px) {
          border: none;
          padding: 0;
          transform: scale(1.2);
          color: $contrastColor;
        }
      }
    }
  }

  .Menu__logo {
    flex-basis: 33%;
    margin-top: 1rem;
    font-family: $logoFont;
    font-size: 3rem;
    font-weight: 700;
    color: $contrastColor;
    text-align: center;

    @media (max-width: 768px){
      font-size: 1.5rem;
    }
  }














