.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4rem;
  gap: 2rem;
}
.Form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  &__title {
    font-family: $headingFont;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.3em;
    color: $mainColorLight;
    text-align: center;
    line-height: 2rem;
    padding: 2rem;


  }




  &__button {
    //margin-left: 24em;
    margin-top: 1em;
    width: 20em;
    font-family: $headingFont;
    font-size: 1rem;
    color: $mainColorLight;
    background: $contrastColorOpacity;
    border: 0.2rem solid $contrastColorOpacityDark;
    padding: 0.3em;
    letter-spacing: 0.1em;
    margin-bottom: 1em;

    &:hover {
      color: $mainColorDark;
      font-weight: 700;
      background: $contrastColor;
    }
  }

  &__input {
    appearance: none;
    width: 30rem;
    border: none;
    border-bottom: .1rem solid $mainColorLight;
    padding: 0.5rem;
    margin: 1rem;
    background-color: $mainColorDark;

    &:focus {
      border: 0.2em solid $contrastColor;
    }
  }

  &__input__q {
    appearance: none;
    width: 30rem;
    border: none;
    border-bottom: .1rem solid $mainColorLight;
    padding: 0.5rem;
    margin: 1rem;
    background-color: $mainColorDark;
  }

  &__error {
    margin-top: 1em;
    margin-left: 15em;
    font-family: $headingFont;
    color: $mainColorDark;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin-bottom: 2em;

  }
}

::-webkit-input-placeholder {
  font-family: $headingFont;
  text-transform: uppercase;
  padding-top: 0.5em;
}

