.LoginStep {
  width: 80%;
  margin:4rem auto;

  &__list {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 4rem 8rem;

    &__btn {
      margin-top: 2rem;
      width: 18rem;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      padding:1rem;
      font-family: $headingFont;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0.2rem;
      color: $mainColorLight;
      border: 0.2rem solid $contrastColor;
      background-color: $contrastColorOpacity;
    }


    &__heading {
      font-family: $headingFont;
      font-size: 2rem;
      font-weight: 100;
      color: $mainColorLight;
      margin-bottom: 2rem;

    }

    &__checkbox{
      appearance: none;
      justify-self: center;
      width: 1rem;
      height: 1rem;
      background-color: $mainColorLight;
      margin: 0;
      &:checked {
        background-color: $contrastColorOpacityDark;
      }

    }

    &__item {
      font-family: $headingFont;
      font-weight: 100;
      font-size: 1rem;
      color: $mainColorLight;
      text-transform: uppercase;
    }

  }
}
.dropdown {
  width: 60%;
  margin: 4rem auto;
  position: relative;

  &__title {
    font-family: $headingFont;
    font-size: 2rem;
    font-weight: 100;
    color: $mainColorLight;
    margin-bottom: 2rem;
  }

  &__btn {
    padding: 1rem 2rem;
    background-color: $mainColorLight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $headingFont;
    color: $mainColorDark;
    width: 100%;
  }

  &__content {
    position: absolute;
    top:110%;
    left: 0;
    padding: 1rem;
    background-color: $mainColorLight;
    width: 95%;

    &__item {
      padding: 0.8rem;
      cursor: pointer;
      transition: all 0.2s;
      font-family: $headingFont;
      color: $mainColorDark;
      &:hover {
        background-color: $mainColorDark;
        color: $mainColorLight;
      }
    }
  }
}
.LoginStep3 {
  width: 60%;
  margin: 4rem auto;

  &__title {
    font-family: $headingFont;
    font-size: 2rem;
    font-weight: 100;
    color: $mainColorLight;
    margin-bottom: 2rem;
  }

  &__input {
    appearance: none;
    width: 30rem;
    border: none;
    font-family: $paragraphFont;
    border-bottom: .1rem solid $mainColorLight;
    padding: 0.5rem;
    margin: 1rem;
    background-color: $mainColorDark;
    color: $mainColorLight;

    &:focus {
      border: 0.2em solid $contrastColor;
    }
  }
}


//  &1__info,
//  &2__info,
//  &3__info {
//    align-self: center;
//    width: 3rem;
//    height: 3rem;
//    padding: 2.5rem;
//    margin-top: 1rem;
//    font-family: $headingFont;
//    font-size: 0.5rem;
//    background-color: $mainColorLight;
//    text-align: center;
//    letter-spacing: 0.2rem;
//    text-transform: uppercase;
//    color: $mainColorDark;
//    border-radius: 50%;
//    position: relative;
//
//    &::before {
//      content: '';
//      width: 2rem;
//      height: 2rem;
//      padding: 0.2rem;
//      border-radius: 50%;
//      position: absolute;
//      top: -5%;
//      left: 0;
//      color: $mainColorLight;
//      font-family: $headingFont;
//      font-size: 2rem;
//      font-weight: 500;
//      background-color: $mainColorDark;
//    }
//  }
//
//  &1__info {
//    background-color: $contrastColorOpacity;
//    transform: scale(1.2);
//    border: 0.5rem solid $contrastColorOpacityDark;
//    font-weight: 700;
//    &::before{
//      content: '1.';
//      background-color: $mainColorDark;
//      color:$contrastColorOpacityDark
//
//    }
//}
//
//  &2__info {
//    &::before {
//      content: "2.";
//    }
//  }
//
//    &3__info{
//      &::before{
//        content: "3.";
//      }
//    }
//
//  &__arrow {
//    height: 2rem;
//    width: 6rem;
//    border-bottom: 0.1rem solid $mainColorLight;
//  }

