.ForWho {
  width: 100vw;
  height: 80vh;
  text-align: center;
  font-family: $headingFont;
  font-weight: 100;
  font-size: 2rem;
  color: $mainColorLight;
  letter-spacing: 0.2rem;
  margin: 4rem 0;

  @media (max-width: 756px) {
   margin: 4rem 0;
    font-size: 1rem;
    height: 60vh;
  }


  &__container {
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 25%));
    justify-content: center;
    margin: 4rem 0;
    z-index: 1;
  }

  @mixin img {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  @mixin imgBefore {
    font-weight: 200;
    color: $mainColorDark;
    width: 100%;
    height: 4rem;
    background-color: $contrastColorOpacityDark;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 1rem;
  }

  @mixin imgBeforeHover {
    transition: 0.75s ease-in;
    height: 60%;
    background-color: $contrastColorOpacityDark;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    z-index: 3;
    padding-top: 2rem;

    @media (max-width: 756px) {
      font-size: 0.7rem;
      height: 65%;

    }
  }

  &__img1 {
    background: url("./assets/Shelter1.jpeg");
    @include img;

    &::before {
      content: "Schronisko1";
      @include imgBefore;
    }

    &:hover {
      &::before {
        @include imgBeforeHover;
        content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci asperiores aspernatur culpa deserunt distinctio doloremque dolores esse exercitationem`";
      }
    }
  }

  &__img2 {
    background: url("./assets/Shelter4.jpeg");
    @include img;

    &::before {
      content: "Schronisko2";
      @include imgBefore;
    }

    &:hover {
      &::before {
        @include imgBeforeHover;
        content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci asperiores aspernatur culpa deserunt distinctio doloremque dolores esse exercitationem`";
      }
    }
  }

    &__img3 {
      background: url("./assets/Shelter3.jpeg");
      @include img;

      &::before {
        content: "Schronisko3";
        @include imgBefore;
      }

      &:hover {
        &::before {
          @include imgBeforeHover;
          content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci asperiores aspernatur culpa deserunt distinctio doloremque dolores esse exercitationem`";
        }
      }
    }

    &__img4 {
      background: url("./assets/Shelter2.jpeg");
      @include img;

      &::before {
        content: "Schronisko4";
        @include imgBefore;
      }

      &:hover {
        &::before {
          @include imgBeforeHover;
          content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci asperiores aspernatur culpa deserunt distinctio doloremque dolores esse exercitationem`";
        }
      }
    }
}



