.Info {


  &__container {
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: $contrastColorOpacityDark;
    padding: 2rem;

    @media (max-width: 756px){
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  &__numbers,
  &__title, {
    font-family: $headingFont;
    font-weight: 500;
  }

  &__numbers,
  &__title,
  &__description {
    text-align: center;
    color: $mainColorDark;
    margin: 1rem 0;
  }

  &__numbers {
    font-size: 2rem;
    font-weight: 800;
  }

  &__title {
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__description {
    font-family: $paragraphFont;
    font-size: 0.8rem;
    font-weight: 300;
  }
}