
.Hero {
  width: 100vw;
  height: 70vh;
  background: url("./assets/HeroDog.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8rem;


  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  &__heading {

    text-transform: uppercase;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    font-family: $headingFont;
    font-weight: 100;
    color: $mainColorMiddle;
    letter-spacing: 0.2rem;

  }

  &__description {
    width: 100%;
    text-align: center;
    font-family: $headingFont;
    font-weight: 400;
    font-size: 1rem;
    color: $contrastColor;
    letter-spacing: 0.2rem;
    padding: 1rem;
  }


  &__container {
    width: 100%;
    margin: 4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }



  &__btn {
    width: 18rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding:1rem;
    font-family: $headingFont;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: $mainColorLight;
    border: 0.2rem solid $contrastColor;
    background-color: $contrastColorOpacity;


    &:hover {
      opacity: 1;
    }

  }
}

