
.Hero {
  height: 100vh;
  background: url("./assets/HeroDog.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
  height: 80vh;
  }

  &__heading,
  &__description {
    width: 100%;
    text-align: center;
    font-family: $headingFont;
    letter-spacing: 0.2rem;
    padding-bottom: 2rem;

    @media (max-width: 768px) {
      transform: scale(0.8);
    }
  }

  &__heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 100;
    color: $mainColorMiddle;
  }

  &__description {
    font-weight: 400;
    font-size: 1rem;
    color: $contrastColor;
  }

  &__btn {
    width: 18rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding:1rem;
    font-family: $headingFont;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: $mainColorLight;
    border: 0.2rem solid $contrastColor;
    background-color: $contrastColorOpacity;
    margin-top: 2rem;

    @media (max-width: 768px) {
      transform: scale(0.8);
    }
  }
}

