.Registration {
  height: 100vh;
  background: url("./src/assets/CatBackground.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 768px){
    background: black;
  }

  //&__img {
  //  background: url("./assets/LoginDog.jpeg");
  //  background-repeat: no-repeat;
  //  background-size: contain;
  //}

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
  }

  &__title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 100;
    color: $mainColorMiddle;
    width: 100%;
    font-family: $headingFont;
    letter-spacing: 0.2rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;

    @media (max-width: 768px) {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 100;
      color: $mainColorMiddle;
      width: 100%;
      font-family: $headingFont;
      letter-spacing: normal;
    }

  }

  &__input {
    appearance: none;
    border: none;
    border-bottom: .1rem solid $mainColorLight;
    padding: 0.5rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0);
    color: $mainColorLight;
    font-family: $paragraphFont;
  &:focus{
    border: $mainColorLight;
    color: $mainColorLight;
    background-color: black
  ;
  }
  }
  &__error {
    width: 100%;
    font-family: $headingFont;
    color: $contrastColor;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-align: center;
    border: 0.1rem solid $contrastColor;
    margin: 2rem;
    padding: 1rem 0;
  }


  &__btn {

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding:1rem;
    font-family: $headingFont;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: $mainColorLight;
    border: 0.2rem solid $contrastColor;
    background-color: $contrastColorOpacity;
    margin-top: 2rem;
  }

  &__login {
    width: 100%;
    font-family: $headingFont;
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0;
    font-weight: 400;
    color: $contrastColor;
    text-align: right;


    &__btn {
      text-decoration: none;
      border: 0.1rem solid $contrastColor;
      color: $contrastColor;
      margin-right: 2rem;

    }
  }



}