.LoginStep3 {
  width: 60%;
  margin: 4rem auto;

  &__title {
    font-family: $headingFont;
    font-size: 2rem;
    font-weight: 100;
    color: $mainColorLight;
    margin-bottom: 2rem;
  }

  &__input {
    appearance: none;
    width: 30rem;
    border: none;
    font-family: $paragraphFont;
    border-bottom: .1rem solid $mainColorLight;
    padding: 0.5rem;
    margin: 1rem;
    background-color: $mainColorDark;
    color: $mainColorLight;

    &:focus {
      border: 0.2em solid $contrastColor;
    }
  }
}