.About {
  &__container {
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 8rem;
    background-color: $mainColorLight;
    padding: 4rem;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    font-family: $headingFont;
    font-weight: 100;
    font-size: 2rem;
    color: $mainColorDark;
    letter-spacing: 0.2rem;
  }

  &__description {
    font-family: $paragraphFont;
    font-size: 1rem;
    color: $mainColorDark;
    font-weight: 300;
    text-align: justify;
    padding: 2rem;

  }

  &__img {
    background: url("./assets/AboutTeam.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

}