.Steps {
  padding: 2rem;

  &__title {
    text-align: center;
    font-family: $headingFont;
    font-weight: 200;
    font-size: 2rem;
    color: $mainColorLight;
    letter-spacing: 0.2rem;
    padding: 2rem;
    text-transform: uppercase;
    border-bottom: .1rem solid $mainColorLight;
    margin: 0 8rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem 1rem;
    margin: 2rem 20rem;

  }

  &__stuff,
  &__package,
  &__choice,
  &__delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &__img1{
    background: url("./assets/Step1.svg");
  }

  &__img2{
    background: url("./assets/Step2.svg");
  }
  &__img3{
    background: url("./assets/Step3.svg");
  }


  &__img1,
  &__img2,
  &__img3{
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
  }


  &__description {
    font-family: $paragraphFont;
    font-size: 1rem;
    color: $mainColorLight;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;

  }
}