.MenuLogin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;

  @media (max-width: 768px) {
    transform: scale(0.8);
    justify-content: center;
  }

  &__info,
  &__btn {
    text-decoration: none;
    color: $contrastColor;
    margin: 1rem 1rem;
    padding: 0.5rem;
    font-family: $headingFont;
    letter-spacing: 0.2rem;
    font-weight: 400;
    font-size: 0.75rem;
  }

  &__btn{
    border: 0.1rem solid $contrastColor;
    text-transform: uppercase;



  }
}