$mainColorDark: #212529;
$mainColorDarkOpacity: rgba(33, 37, 41, 0.5);


$mainColorMiddle: #CECECE;

$mainColorLight: #DBDBDB;
$mainColorLightOpacity:rgba(219, 219, 219, 0.5);

$contrastColor: #F8F20D;
$contrastColorOpacity: rgba(248,242,13,0.2);
$contrastColorOpacityDark: rgba(248,242,13,0.5);

$paragraphFont: 'Hind', sans-serif;
$headingFont: 'Montserrat', sans-serif;
$logoFont: 'Charmonman', cursive;


